@model IEnumerable<Caso1SPrograAvWeb.Models.ConsultaMatriculaModel>

@{
    ViewData["Title"] = "Matrículas Registradas";
}

<h2 class="mb-4">Matrículas Registradas</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nombre del Estudiante</th>
            <th>Tipo de Curso</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreEstudiante</td>
                <td>@item.DescripcionTipoCurso</td>
                <td>@item.Monto.ToString("C", new System.Globalization.CultureInfo("es-CR"))</td>
                <td>@item.Fecha.ToString("dd/MM/yyyy hh:mm tt")</td>
            </tr>
        }
    </tbody>
</table>