@model Caso1SPrograAvWeb.Models.MatriculaModel
@{
    ViewData["Title"] = "Registro";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Registro</h1>
                            </div>
                            <form asp-action="RegistrarMatricula" asp-controller="Home" method="post" class="user">
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <label asp-for="NombreEstudiante" class="control-label"></label>
                                    <input asp-for="NombreEstudiante" class="form-control form-control-user" placeholder="Nombre" />
                                    <span asp-validation-for="NombreEstudiante" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="Fecha" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />

                                <div class="form-group">
                                    <label asp-for="Monto" class="control-label"></label>
                                    <input asp-for="Monto" class="form-control form-control-user" placeholder="Monto" type="number" step="0.01" min="0" />
                                    <span asp-validation-for="Monto" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TipoCurso" class="control-label"></label>
                                    <select asp-for="TipoCurso" asp-items="ViewBag.TiposCursos" class="form-control form-control-user">
                                        <option value="">Seleccione un tipo de curso</option>
                                    </select>
                                    <span asp-validation-for="TipoCurso" class="text-danger"></span>
                                </div>

                                <input type="submit" class="btn btn-success btn-user btn-block" value="Registrar Matrícula" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}